.container {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fcf1ed;
  padding: 20px;
}
.container .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}

.content .image .img {
  object-fit: contain;
  border-radius: 50%;
  height: 160px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info .title {
  cursor: pointer;
}
